<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shodan-Eye Vulnerability Scanning</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
      </head>
<body>
    <div class="contenitore">
    <div class="centrato"> 
    <img src="{{ url_for('static', filename='images/images.png') }}" alt="Image Description" width="224" height="192">
    <h1 class="centrato">Shodan-Eye</h1>
</div>
    <div class="contenuto"> 
        <form action="/results" method="post">
            <div class="searchbar"> 
                <label for="ip_address">Query:</label>
                <input type="text" id="ip_address" name="ip_address" placeholder="Search on Shodan an IP TARGET..." style="max-width: 256;" size="50">
            </div>
        <label for="name" class="form-label fw-bold fs-5">Immetti la tua query!</label>
        <br>
        <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Search</button>
    </form>

    <br>
    <div class="info"> 
        <img src="{{ url_for('static', filename='images/info.png') }}" alt="Image info" width="50" height="50">
        <a href="/team">Shodan-Eye</a>
    </div>
</div>

</div>
</body>
</html>
